<div>
    <form>
        <div class="form-group">
            <label>
                Bill name
                <input class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Wartosc (zł)
                <input class="form-control">
            </label>
        </div>

      <div class="form-group">
          <label>
              Opis:
              <textarea class="form-control"></textarea>
          </label>
      </div>

        <div class="form-group">
           <button class="btn btn-success">Save</button>
        </div>

    </form>
</div>