<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label>
                User:
                <input ng-model="lCtrl.user.name" ng-change="lCtrl.sayUser()" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Password:
                <input ng-model="lCtrl.user.password" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <button ui-sref="dashboard" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>